body{width:1200px; margin: 0 auto; background: #F2F2F2; padding: 0} /*设置body总样式，宽度1200px，边距自适应*/
a,p,div{font-family: 微软雅黑; font-size: 13px; text-align: center; text-decoration:none; color: #333333;}
/*默认微软雅黑，浅黑色，13号字体，居中, 去掉下划线*/
ul{list-style-type: none; width: 145px; margin: 0px; padding: 0px;}
li{float: left; padding-right: 10px;}
input{font-family: 微软雅黑; font-size: 13px; text-align: left; border: 1px solid #E4E4E4; outline-color: invert;} /*设置边框*/
input:focus {
     border: 1px solid #fafafa;
    -webkit-box-shadow: 0px 0px 6px #007eff;
     -moz-box-shadow: 0px 0px 5px #007eff;
     box-shadow: 0px 0px 5px #007eff;
}
textarea{font-family: 微软雅黑; font-size: 13px; text-align: left; border: 1px solid #E4E4E4; outline-color: invert;}
textarea:focus {
     border: 1px solid #fafafa;
    -webkit-box-shadow: 0px 0px 6px #007eff;
     -moz-box-shadow: 0px 0px 5px #007eff;
     box-shadow: 0px 0px 5px #007eff;
}
.hide{display: none;}
.text-left{text-align: left;}
.font-bold{font-weight: bold;}/*设置粗体*/
.blue-frame{border: 2px solid #8CD2ED;}
.test{background-color: red;}

/*头部*/
#header{height: 132px;} /*头部默认高度100*/

#header-top{height: 30px; border-bottom: 1px solid #D3D3D3;}
.header-top-div{height: 30px; width: 150px; float: right; position: relative; right: 70px;}
.header-top-btn{line-height: 20px; width: 70px; float: left; position: relative; top: 5px;}
.header-top-btn-hover{color: #86C349;}
.header-top-btn-left{border-left: 1px solid #D3D3D3; border-right: 1px solid #D3D3D3;}
.header-top-btn-right{border-right: 1px solid #D3D3D3; z-index: 1000 !important; float: left;}
.header-top-name-hide{height: 78px; width: 67px; float: left; position: relative; top: 8px; left: 1px; border: 1px solid #86C349; z-index: 1000 !important;}
.header-top-hide-each{line-height: 26px; width: 67px; float: left; background-color: #86C349; color: white;}
.header-top-hide-hover{background-color: #86C349; color: white;}
.header-top-hide-each:hover{background-color: #F2F2F2; color: #86C349;}

.headline{height: 100px; width: 600px; float: left;} /*左边标题*/
.headline_big{line-height: 80px; width: 270px; float: left; text-align: right; position: relative; top: 10px;}
.headline_big_a{font-size: 72px; color: #86C349} /*设置标题链接字体大小*/
.headline_small{line-height: 15px; width: 330px; float: right; position: relative; top: 70px; color: #86C349;}
.control{height: 100px; width: 600px; float: right;} /*右边控制按钮*/
.search{height: 42px; width: 410px; float: left; text-align: right; position: relative; top: 30px;}
.search-text{height: 30px; width: 256px; text-align: left; border: 1px solid #86C349; color: rgb(153, 153, 153);}
.search-btn{line-height: 30px; width: 80px; text-align: center; border: 1px solid #86C349; background-color: #86C349; color: white;}
.text{color: silver}
.text_focus{color: #333333}

/*心形icon*/
.icon-heart:hover{background: red;}
.icon-heart.active{background: red;}
.icon-heart{
    position: relative; top: 9px; left:7px; height: 10px; width: 10px; float: left; background: pink;
    -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);
}
.icon-heart:before,.icon-heart:after{
    position: absolute; width: 10px; height: 10px; content: ' '; background: inherit;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;
}
.icon-heart:before{bottom: 0px; left: -7px;}
.icon-heart:after{right: 0px; top: -7px;}

/*五角星icon*/
.icon-five:hover{border-bottom-color: red;}
.icon-five.active{border-bottom-color: red;}
.icon-five{
   position: relative; top: 9px; left: 7px; display: block; color: rgb(196, 218, 6); width: 0px; height: 0px;
   border-right:  10px solid transparent; border-bottom: 7px solid; border-left: 10px solid transparent; border-bottom-color: rgb(196, 218, 6);
   -moz-transform: rotate(35deg); -webkit-transform: rotate(35deg); -ms-transform: rotate(35deg); -o-transform: rotate(35deg); transform: rotate(35deg);
}
.icon-five:before,.icon-five:after{
   position: absolute; height: 0; width: 0; display: block; content: '';
}
.icon-five:before {
    top: -4.5px; left: -6.5px;
   border-bottom: 8px solid; border-left: 3px solid transparent; border-bottom-color: inherit; border-right: 3px solid transparent;
   -webkit-transform: rotate(-35deg); -moz-transform: rotate(-35deg); -ms-transform: rotate(-35deg); -o-transform: rotate(-35deg); transform: rotate(-35deg);
}
.icon-five:after {
   top: 0.3px; left: -10.5px;
   border-right: 10px solid transparent; border-bottom: 7px solid; border-bottom-color: inherit; border-left: 10px solid transparent;
   -webkit-transform: rotate(-70deg); -moz-transform: rotate(-70deg); -ms-transform: rotate(-70deg); -o-transform: rotate(-70deg); transform: rotate(-70deg);
}