#screen{
    height: 50px; 
    width: 900px; 
    float: left; 
    position: relative; top: 10px;
}
.screen-div{
    height: 40px; 
    width: 890px;
    position: relative; left: 10px;
}
.screen-each{
    line-height: 40px; 
    width: 130px; 
    text-align: center;
}
.screen-show{
    border-top: #8CD2ED solid 2px; 
    border-left: #8CD2ED solid 2px; 
    border-right: #8CD2ED solid 2px; 
    border-bottom: #F2F2F2 solid 2px;
}
.screen-unshow{
    border-bottom: #8CD2ED solid 2px;
    color: #737373;
}
.screen-unshow:hover{
    background-color: #D3D3D3;
}
.screen-empty{
    height: 40px; 
    width: 590px; 
    border-bottom: #8CD2ED solid 2px;
}
