#substance{height: 1000px; width: 900px; float: left;}
.comment{height: 250px; width: 450px; float: left;}
.comment-div{height: 240px; width: 430px; position: relative; left: 10px;top: 10px; background-color: white;}
.comment-div-hover{background-color: #F6F6F6;}
.comment-div-p{margin: 0px; line-height: 40px;}
.comment-div-line{width: 370px; position: relative; left: 30px; border: #D3D3D3 solid 1px;}
.comment-div-info{width: 370px; height: 180px; position: relative; left: 30px; top: 10px;}
.dish-mat{height: 40px; width: 180px; float: left;}
.dish-mat-each{height: 20px; width: 140px; float: left; border-radius: 5px; position: relative; top: 10px; left: 20px;}
.dish-mat-name{height: 20px; width: 60px; float: left; position: relative; text-align: right;}
.dish-mat-num{height: 20px; width: 45px; float: left; position: relative; left: 10px; text-align: center;}
.dish-mat-del{height: 16px; width: 16px; float: left; position: relative; left: 15px; top: 2px; background-color: #8CD2ED; border-radius: 8px;}