#collection-menu{height: 80px; width: 1020px; float: left;}
.collection-menu-div{height: 65px; width: 980px; float: left; position: relative; top: 10px; bottom: 10px; left: 10px; background-color: white; border: 2px solid #8CD2ED;}
.menu-p{margin: 0; line-height: 24px; width: 100px; float: left; text-align: right; color: #737373; font-size: 13px;}
.collection-menu-frame{height: 30px; width: 930px; float: left; position: relative; top: 5px;}
.menu-div{height: 24px; width: 100px; float: left; position: relative; left: 10px;}
.menu-a{line-height: 24px; width: 80px; float: left; text-align: center;}
.menu-a:hover{background-color: #D3D3D3;}
.menu-click{background-color: #8CD2ED;}

#substance{height: 1000px; width: 1020px; float: left;}
.comment{height: 210px; width: 500px; float: left;}
.comment-div{height: 200px; width: 480px; position:relative; top:5px; left: 10px; background-color: white;}
.comment-div-hover{background-color: #F6F6F6;}
.pic{height: 157px; width: 250px; float: left; position: relative; top: 23px; left: 10px;}
.pic-rel{height: 157px; width: 250px; position: relative; }
.dish-detail{height: 157px; width: 215px; float: right; position: relative; top: 23px;}
.dish-detail-name{line-height: 24px; width: 215px; position: relative; text-align: left;}
.dish-detail-name a{ font-size: 20px;}
.dish-detail-name a:hover{color: #990000;}
.dish-detail-food{height: 110px; width: 215px; position: relative; top: 8px; }
.food-main-p{margin: 0; line-height: 24px; width: 40px; float: left; text-align: left; color: #737373;}
.food-main-info{line-height: 24px; width: 160px; float: left; text-align: left; color: #737373;}
.dish-detail-data{line-height: 20px; width: 140px; float: left; text-align: left;}
.dish-detail-cancel{line-height: 20px; width: 70px; float: right; color: #737373;}
.dish-detail-cancel:hover{color: #990000;}
