#substance{height: 1000px; width: 900px; float: left;}
.comment{height: 190px; width: 890px;}
.comment-div{height: 180px; width: 890px; position: relative; left: 10px;top: 10px; background-color: white;}
.comment-div-hover{background-color: #F6F6F6;}

.comment-info{height: 160px; width: 600px; float: left; position: relative; left: 10px; top: 10px;}
.comment-con{height: 120px; width: 600px; float: left;}
.comment-photo{height: 110px; width: 80px; float: left; position: relative;}
.comment-photo-rel{height: 80px; width: 80px; float: left;}
.comment-auther{line-height: 20px; width: 150px; float: left; position: relative; left: 20px; text-align: left; font-weight: bold;}
.comment-auther:hover{color: #990000;}
.comment-comment{line-height: 20px; width: 490px; float: left; position: relative; top: 5px; left: 20px; text-align: left;}
.comment-old{line-height: 20px; width: 490px; float: left; position: relative; top: 10px; left: 20px; text-align: left; background-color: #F2F2F2; color: #737373;}
.comment-date{line-height: 20px; width: 490px; float: left; position: relative; top: 15px; left: 20px; text-align: left;}
.comment-btn{height: 40px; width: 600px; float: left;}
.comment-link{line-height: 40px; width: 280px; float: left; position: relative; left: 5px; border-top: #F2F2F2 solid 2px; border-right: #F2F2F2 solid 2px;}
.comment-link:hover{color: #990000;}
.comment-re{line-height: 40px; width: 280px; float: left; position: relative;  border-top: #F2F2F2 solid 2px;}
.comment-re:hover{color: #990000;}
.comment-food{height: 160px; width: 250px; float: left; position: relative; left: 20px; top: 10px;}
.comment-food-rel{height: 160px; width: 250px; float: left;}

#com-re{height: 60px; width: 600px; position: relative; left: 10px; background-color: red; }/*display: none;*/
.com_re_input{position: relative; top: 40px; left: 10px; color: silver; outline-color: invert; border: 1px solid #DDDDDD;}
.com_re_btn{height: 21px; width: 60px; position: relative; border: none; background-color: #8CD2ED; color: white; text-align: center; border-radius: 3px;}

.pic{height: 170px; width: 220px; float: left;}
.pic_rel{height: 138px; width: 220px; position: relative; top:30px; left: 10px;}

.introduce{height: 170px; width: 580px; float: left; position: relative; left: 10px;}
.dish_detail{height: 30px; width: 600px;}
.dish_detail_name{line-height: 30px; width: 140px; float: left; text-align: left; font-size: 18px; font-weight: bold; position: relative; top: 25px; left: 10px;}
.dish_detail_info{height: 30px; width: 450px; float: left; position: relative; top: 25px; left: 10px;}
.dish_detail_data{line-height: 30px; width: 90px; float: left; color: #990000;}
.dish_detail_writer{line-height: 30px; width: 90px; float: left; color: #990000;}

.dish-mat{height: 80px; width: 690px; position: relative; top: 50px;}
.dish-mat-main, .dish-mat-less{height: 40px; width: 650px; }
.dish-mat-info-p{margin: 0; line-height: 24px; width: 60px; font-weight: bold; float: left;}
.dish-mat-each{height: 20px; width: 140px; float: left; border-radius: 5px; position: relative;}
.dish-mat-name{height: 20px; width: 60px; float: left; position: relative; text-align: right;}
.dish-mat-num{height: 20px; width: 45px; float: left; position: relative; left: 10px; text-align: center;}
.dish-mat-del{height: 16px; width: 16px; float: left; position: relative; left: 15px; top: 2px; background-color: #8CD2ED; border-radius: 8px;}