#pic_comment{height: 730px; width: 460px; float: left;}
.pic{height: 400px; width: 440px;}
.pic_rel{height: 382px; width: 328px; float: right; position: relative; right: 40px; top: 9px; background: red;}
.comment{height: 330px; width: 440px;}
.comment_rel{height: 300px; width: 380px; float: right; background: blue; position: relative; top: 30px; right: 20px;}

#introduce{height: 920px; width: 740px; float: right;}
.dish_name{line-height: 50px; width: 740px; text-align: left; font-size: 28px; color: #990000;}
.dish_detail{height: 30px; width: 740px;}
.dish_detail_data{line-height: 30px; width: 90px; float: left;}
.dish_detail_writer{line-height: 30px; width: 90px; float: left;}
.dish_detail_good{height: 30px; width: 60px; float: left;}
.dish_detail_good_num{line-height: 30px; width: 10px; float: right;}
.dish_detail_good_icon{height: 30px; width: 30px; float: right;}
.dish_detail_com{height: 30px; width: 60px; float: left;}
.dish_detail_com_icon{height: 30px; width: 30px; float: right;}
.dish_detail_com_num{line-height: 30px; width: 10px; float: right;}
.dish_detail_col{height: 30px; width: 50px; float: left;}
.dish_detail_col_icon{height: 30px; width: 30px; float: right; background: blue;}
.dish_intro{height: 140px; width: 740px;}
.dish_intro_p{height: 120px; width: 690px; text-align: left; font-size: 14px; color: #990000; position: relative; top: 5px;}
.dish_mat{height: 150px; width: 740px; background: green;}
.dish_step{height: 200px; width: 740px;}
.dish_step_num{height: 50px; width: 30px; float: left; text-align: left; font-size: 18px; color: #990000;}
.dish_step_pic{height: 170px; width: 235px; position: relative; top: 15px; left: 5px; float: left; background: yellow;}
.dish_step_con{height: 170px; width: 400px; position: relative; top: 15px; left: 25px; float: left; text-align: left; font-size: 13px; color: #99000;}
.dish_tips{height: 120px; width: 740px; background: red;}
.dish_show{height: 500px; width: 740px;}
.dish_show_name{height: 40px; width: 80px; float: left; color: #990000; font-size: 18px; font-weight: bold;}
.dish_show_pic{height: 400px; width: 400px; position: relative; top: 50px; left: 170px; right: 170px; background: green;}

/*编写心形icon*/
.dish_detail_good_icon_heart{
    position: relative; top: 9px; right:7px; height: 15px; width: 15px; float: right; background: pink;
    -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);
}
.dish_detail_good_icon_heart:before,.dish_detail_good_icon_heart:after{
    position: absolute; width: 15px; height: 15px; content: ' '; background: pink;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%;
}
.dish_detail_good_icon_heart:before{
    bottom: 0px; left: -7px;
}
.dish_detail_good_icon_heart:after{
    right: 0px; top: -7px;
}

/*编写五角星icon*/
.dish_detail_com_icon_five{
    position: relative; height: 0px; width: 0px;
    border-right: 15px solid transparent; border-bottom: 10.5px solid red; border-left: 15px solid transparent;
    -moz-transform: rotate(35deg); -webkit-transform: rotate(35deg); -ms-transform: rotate(35deg); -o-transform: rotate(35deg);
}
.dish_detail_com_icon_five:before{
    position: absolute; height: 0; width: 0; top: -
    border-bottom: 12px solid red; border-left: 4.5px solid transparent; border-right: 4.5px solid transparent;

}