#content{height: 350px;}  /*中间默认高度350*/
.subject{height: 350px; width: 570px; float: left;} /*中间专题左浮动*/
.subject_con{height: 350px; width: 480px; position: relative; left:60px; }
.subject_con_frame{height: 320px; width:480px; position: relative; top: 27px;}
.subject_con_sub{line-height: 25px; width: 200px; position: absolute; top: 16px; left: 50px; background-color: #F6F6F6; }
.subject_con_dish{height: 90px; width: 450px; left: 18px; }
.dish-1{position: absolute; top: 50px; }
.dish-2{position: absolute; top: 145px; }
.dish-3{position: absolute; top: 240px; }
.dish-pic{height: 80px; width: 128px; }
.dish-detail{height: 90px; width: 266px; }
.dish-pic-left{position: absolute; left: 10px; top: 5px;}
.dish-pic-right{position: absolute; right: 10px; top: 5px;}
.dish-detail-left{position: absolute; right: 20px;}
.dish-detail-right{position: absolute; left: 20px;}
.dish-sub{margin-top: 5px; margin-bottom: 5px;}
.back-change{background-color: #DDDDDD;}
.top5{height: 350px; width: 560px;}

#list_index{height: 215px;} /*下面列表默认高度215*/
.list_rel{height: 215px; width: 20%; float: left;} /*每个方块高215，占20%*/
.list1{height: 185px; width: 80%; margin:0 auto; background: #FFDC2C; border-radius: 26px; position: relative; top:29px;} 
/*设置相对宽度80%，圆角26px，相对定位，相对父div下降29px*/
.list2{height: 185px; width: 80%; margin:0 auto; background: #8CD2ED; border-radius: 26px; position: relative; top:29px;}
.list3{height: 185px; width: 80%; margin:0 auto; background: #FBBFC3; border-radius: 26px; position: relative; top:29px;}
.list4{height: 185px; width: 80%; margin:0 auto; background: #8CD2ED; border-radius: 26px; position: relative; top:29px;}
.list5{height: 185px; width: 80%; margin:0 auto; background: #FFDC2C; border-radius: 26px; position: relative; top:29px;}
.list_head{height: 27px; width: 185px; position: relative; top: 15px; font-size: 20px;}
.list_con{height: 25px; width: 185px; position: relative; top:25px;}
.point{height: 10px; width: 10px; background: white; border-radius: 5px; float: left; position: relative; left:20px; top: 7.5px;}
.list_con_line{height: 25px; width: 145px; float: left; position: relative; left:25px;}
#list_index a:hover{color: #990000; font-weight: bold;}
#list_index a:active{color: #990000; font-weight: bold;}
.list-con-line-ul{position: relative; top: 4px;}