.test-1000px{height: 10px; width: 1000px; background-color: red; margin-left: auto; margin-right: auto;}

#content{height: 1000px; width: 1000px; margin-left: auto; margin-right: auto; position: relative; top: 10px;}
#index-left{height: 1000px; width: 200px; float: left;}
.list-div{height: 200px; width: 200px; float: left;}
.list-each{height: 190px; width: 190px;}
.backyellow{background-color: #FFDC2C;}
.backblue{background-color: #8CD2ED;}
.backpink{background-color: #FBBFC3;}
.list-each-subp{line-height: 45px; width: 190px; font-size: 18px;}
.list-each-line{height: 30px; width: 190px;}
.list-each-line-point{height: 10px; width: 10px; float: left; position: relative; left: 10px; top: 10px; background-color: white; border-radius: 5px;}
.list-each-line-p-div{height: 30px; width: 160px; float: left; position: relative; left: 20px;}
.list-each-line-p{line-height: 30px; width: 38px; float: left; text-align: left;}
.list-each-line-p a:hover{color: red;}

#index-center{height: 1000px; width: 570px; float: left;}
.top5{height: 350px; width: 560px;}

#index-right{height: 1000px; width: 230px; float: left;}

/*
#content{height: 350px; width:1200px; margin-left: auto; margin-right: auto; position: relative; top: 10px;}
.subject{height: 350px; width: 570px; float: left;}
.subject_con{height: 350px; width: 480px; position: relative; left:60px; }
.subject_con_frame{height: 320px; width:480px; position: relative; top: 27px;}
.subject_con_sub{line-height: 25px; width: 200px; position: absolute; top: 16px; left: 50px; background-color: #F2F2F2; }
.subject_con_dish{height: 90px; width: 450px; left: 18px; }
.dish-1{position: absolute; top: 50px; }
.dish-2{position: absolute; top: 145px; }
.dish-3{position: absolute; top: 240px; }
.dish-pic{height: 80px; width: 128px; }
.dish-detail{height: 90px; width: 266px; }
.dish-pic-left{position: absolute; left: 10px; top: 5px;}
.dish-pic-right{position: absolute; right: 10px; top: 5px;}
.dish-detail-left{position: absolute; right: 20px;}
.dish-detail-right{position: absolute; left: 20px;}
.dish-sub{margin-top: 5px; margin-bottom: 5px;}
.back-change-index{background-color: #DDDDDD;}
.top5{height: 350px; width: 560px;}

*/