#content{height: 800px; width: 1000px; margin-left: auto; margin-right: auto; position: relative; top: 10px;}
#index-left{height: 800px; width: 200px; float: left;}
.list-div{height: 200px; width: 200px; float: left;}
.list-each{height: 190px; width: 190px;}
.backyellow{background-color: #FFDC2C;}
.backblue{background-color: #EBEBEB;}
.backpink{background-color: #FBBFC3;}
.list-each-subp{line-height: 45px; width: 190px; font-size: 18px;}
.list-each-line{height: 30px; width: 190px;}
.list-each-line-point{height: 10px; width: 10px; float: left; position: relative; left: 10px; top: 10px; background-color: white; border-radius: 5px;}
.list-each-line-p-div{height: 30px; width: 160px; float: left; position: relative; left: 20px;}
.list-each-line-p{line-height: 30px; width: 38px; float: left; text-align: left; }
.list-each-line-p a{}
.list-each-line-p a:hover{color: red;}

#index-center{height: 800px; width: 570px; float: left;}
.top5{height: 350px; width: 560px;}

.subject{height: 415px; width: 570px; float: left;}
.subject-div{height: 415px; width: 556px; float: left; }
.subject-sub{line-height: 25px; width: 220px; position: relative; top: -13px; left: 50px; background-color: #FAFAFA; font-size: 15px;}
.subject-sub:hover{color: white; background-color: #8CD2ED}
.subject-con-div{height: 400px; width: 556px; position: relative; top: -13px;}
.subject-each-div{height: 100px; width: 530px; position: relative; left: 12px;}
.subject-each-rel-blue{height: 96px; width: 530px; position: relative; top: 2px; background-color: #EBEBEB;}
.subject-each-rel-blue:hover{background-color: #C9C9C9;}
.subject-each-rel-white{height: 96px; width: 530px; position: relative; top: 2px; background-color: #FAFAFA;}
.subject-each-rel-white:hover{background-color: #C9C9C9;}
.subject-each-pic{height: 80px; width: 128px; }
.subject-each-pic-left{position: relative; top: 8px; left: 10px; float: left;}
.subject-each-pic-right{position: relative; top: 8px; left: 10px; float: left;}
.subject-each-con{height: 80px; width: 380px; }
.subject-each-con-left{position: relative; top: 8px; left: 20px; float: left;}
.subject-each-con-right{position: relative; top: 8px; left: 10px; float: left;}
.subject-each-name{line-height: 15px; width: 360px; float: left; text-align: left; color: #16509C}
.subject-each-auther{line-height: 25px;}
.subject-each-between{line-height: 25px; width: 10px;}
.subject-each-date{line-height: 25px; width: 100px;}
.subjact-each-mid{ float: left; text-align: left; font-size: 12px; color: #7D7D7D}
.subjact-each-text{height: 40px; width: 380px; float: left; text-align: left;}

#index-right-nologin{height: 800px; width: 230px; float: left;}
.login-top{height: 40px; width: 226px;}
.login-top-login{line-height: 38px; width: 80px; float: left; position: relative; left: 25px;}
.login-top-login:hover{border-bottom: 2px solid #8CD2ED;}
.login-top-register{line-height: 38px; width: 80px; float: left; position: relative; left: 40px;}
.login-top-register:hover{border-bottom: 2px solid #8CD2ED;}
.login-top-on{font-weight: bold; border-bottom: 2px solid #8CD2ED;}

#login-div{height: 226px; width: 226px; float: left; background-color: #EBEBEB}
.login-top-input{height: 30px; width: 200px; float: left; border: 1px solid #C5C4C4;}
.login-top-input-p{line-height: 34px; width: 202px; float: left; position: relative; top: -34px; text-align: left; color: rgb(153, 153, 153);}
.text_focus{color: #333333}
.login-top-check{height: 17px; width: 100px; float: left; position: relative; top: 35px; left: 12px;}
.login-top-cookiepassword{height: 13px; width: 13px; float: left;}
.login-top-checkbox-p{line-height: 17px; width: 60px; float: left; color: #737373;}
.login-top-forget{line-height: 17px; width: 80px; float: right; position: relative; top: 35px;}
.login-top-forget a{color: #737373;}
.login-top-submit{line-height: 30px; width: 200px; position: relative; top: 45px; border: 1px solid #8CD2ED; background-color: #8CD2ED; text-align: center;}

#register-div{height: 226px; width: 226px; float: left; background-color: #EBEBEB}
.login-top-input-address{height: 34px; width: 360px; float: left; position: relative; left: 12px; top: 15px;}
.login-top-input-password{height: 34px; width: 360px; float: left; position: relative; left: 12px; top: 25px;}
.login-top-input-repassword{height: 34px; width: 360px; float: left; position: relative; left: 12px; top: 35px;}
.login-top-input-tip{line-height: 34px; width: 155px; float: left; position: relative; left: 0px; color: red; text-align: left;}

#index-right-logined{height: 800px; width: 230px; float: left;}
.logined-div{height: 226px; width: 226px; float: left; background-color: #EBEBEB;}
.logined-photo-div{height: 135px; width: 226px; float: left; }
.logined-photo{height: 120px; width: 120px; position: relative; top: 10px;}
.logined-name-div{height: 25px; width: 226px; float: left;}
.logined-name{line-height: 20px; width: 226px; }
.logined-name a{font-size: 15px; font-weight: bold;}
.logined-name a:hover{color: red;}
.logined-detail-div{height: 50px; width: 226px; float: left;}
.logined-detail-each{height: 50px; width: 52px; float: left; position: relative; left: 34px;}
.logined-detail-each-border{border-right: 1px solid #D3D3D3;}
.logined-detail-each-num{line-height: 20px; width: 51px; float: left; font-size: 18px; position: relative; top: 5px;}
.logined-detail-each-num-hover{color: red;}
.logined-detail-each-p{line-height: 20px; width: 51px; float: left; position: relative; top: 5px; color: #7D7D7D;}

.logined-fresh{height: 554px; width: 226px; float: left; position: relative; top: 10px; background-color: #EBEBEB;}
.logined-title{height: 40px; width: 226px; float: left; border-bottom: 2px solid #D3D3D3;}
.logined-title-p{line-height: 40px; width: 100px; font-size: 14px; font-weight: bold;}
.logined-comment{height: 100px; width: 200px; float: left; position: relative; top: 5px; left: 13px; border-bottom: 1px solid #D3D3D3;}
.logined-comment-title{line-height: 20px; width: 50px; float: left; color: #7D7D7D}
.logined-comment-content{height: 60px; width: 200px; float: left; text-align: left;}
.logined-comment-content a{color: #16509C;}
.logined-comment-content a:hover{color: red;}
.logined-comment-date{line-height: 20px; width: 200px; float: left; text-align: right; color: #7D7D7D}
