.empty{height: 40px; width: 1200px;}
.title{line-height: 40px; width: 150px; float: left; text-align: right; font-size: 16px; font-weight: bold;}
.subject{height: 40px;}
.subject_input{line-height: 25px; width: 450px; float: left; position: relative; top: 6px; left: 10px;}
.intro{height: 110px;}
.intro_input{height: 100px; width: 900px; float: left; position: relative; left: 10px;}

.mat{height: 80px;}
.mat_title{height: 85px; width: 150px; float: left;}
.mat_con{height: 85px; width: 1050px; float: left;}
.mat_each{height: 40px; width: 1000px;}
.mat_p{line-height: 40px; width: 55px; float: left; margin: 0 auto; position: relative; left: 10px;}
.mat_name{height: 25px; width: 150px; float: left; position: relative; left: 25px;}
.mat_num{height: 25px; width: 50px; float: left; position: relative; left: 30px;}
.mat_unit{height: 28px; width: 60px; float: left; position: relative; left: 40px;}
.mat_add{height: 28px; width: 60px; float: left; position: relative; left: 50px;}

.step{height: 320px;}
.step_title{height: 320px; width: 150px; float: left;}
.step_con{height: 320px; width: 1050px; float: left;}
.step.each{height: 290px; width: 1050px; float: left;}
.step_p{line-height: 40px; width: 55px; float: left; margin: 0 auto; position: relative; left: 10px;}
.step_info{height: 90px; width: 850px; float: left; position: relative; left: 10px;}
.step_pic{height: 180px; width: 850px;float: left; position: relative; left: 70px;}
.step_pic_but{height: 28px; width: 70px; float: left; position: relative; top: 10px;}
.step_pic_pic{height: 170px; width: 235px; float: left; position: relative; top:10px; left: 10px; background: red;}
.step_btn{height: 30px; width: 1050px; float: left;}
.step_add{height: 28px; width: 70px; float: left;}

.pub_submit{height: 50px; width: 140px; float: right; font-size: 20px; }