body{width:1200px; margin: 0 auto; background:#F6F6F6; padding: 0} /*设置body总样式，宽度1200px，边距自适应*/
a,p,div{font-family: 微软雅黑; font-size: 13px; text-align: center; text-decoration:none; color: #333333;}
/*默认微软雅黑，浅黑色，13号字体，居中, 去掉下划线*/
ul{list-style-type: none; line-height: 25px; width: 145px; margin: 0px; padding: 0px;}
li{float: left; padding-right: 10px;}
input{font-family: 微软雅黑; font-size: 13px; text-align: left;  border: 1px solid #E4E4E4;} /*设置边框*/
button{font-family: 微软雅黑; font-size: 13px; text-align: center;}


#header{height: 100px;} /*头部默认高度100*/
.headline{height: 100px; width: 600px; float: left;} /*左边标题*/
.headline_big{line-height: 72px; width: 270px; float: left; position: relative; top:14px;  text-align: right;}
#header a{font-size: 72px; color: #86C349} /*设置标题链接字体大小*/
.headline_small{line-height: 13px; width: 330px; float: right; position: relative; top:68px;}
#header p{color: #86C349;}
.control{height: 100px; width: 600px; float: right;} /*右边控制按钮*/
.search{line-height: 40px; width: 410px; float: left; text-align: right;}
input.text{width: 256px; height:25px;}
input.submit{position: relative; top:7px;}
.login{line-height: 40px; width: 190px; float: right; color: #86C349; font-weight: bold;} /*设置粗体*/

.empty{height: 40px; width: 1200px;}
.title{line-height: 40px; width: 150px; float: left; text-align: right; font-size: 16px; font-weight: bold;}
.subject{height: 40px;}
.subject_input{line-height: 25px; width: 450px; float: left; position: relative; top: 6px; left: 10px;}
.intro{height: 110px;}
.intro_input{height: 100px; width: 900px; float: left; position: relative; left: 10px;}

.mat{height: 80px;}
.mat_title{height: 85px; width: 150px; float: left;}
.mat_con{height: 85px; width: 1050px; float: left;}
.mat_each{height: 40px; width: 1000px;}
.mat_p{line-height: 40px; width: 55px; float: left; margin: 0 auto; position: relative; left: 10px;}
.mat_name{height: 25px; width: 150px; float: left; position: relative; left: 25px;}
.mat_num{height: 25px; width: 50px; float: left; position: relative; left: 30px;}
.mat_unit{height: 28px; width: 60px; float: left; position: relative; left: 40px;}
.mat_add{height: 28px; width: 60px; float: left; position: relative; left: 50px;}

.step{height: 320px;}
.step_title{height: 320px; width: 150px; float: left;}
.step_con{height: 320px; width: 1050px; float: left;}
.step.each{height: 290px; width: 1050px; float: left;}
.step_p{line-height: 40px; width: 55px; float: left; margin: 0 auto; position: relative; left: 10px;}
.step_info{height: 90px; width: 850px; float: left; position: relative; left: 10px;}
.step_pic{height: 180px; width: 850px;float: left; position: relative; left: 70px;}
.step_pic_but{height: 28px; width: 70px; float: left; position: relative; top: 10px;}
.step_pic_pic{height: 170px; width: 235px; float: left; position: relative; top:10px; left: 10px; background: red;}
.step_btn{height: 30px; width: 1050px; float: left;}
.step_add{height: 28px; width: 70px; float: left;}

.submit{height: 50px; width: 140px; float: right; font-size: 20px; }