#centent{width: 1000px; margin-left: auto; margin-right: auto;}
.centent-title{height: 60px; width: 1000px; float: left; position: relative; top: 5px; }
.centent-title-div{line-height: 40px; width: 1000px; float: left; font-size: 25px; text-align: center; margin-left: auto; margin-right: auto;}
.centent-title-date{line-height: 20px; width: 1000px; float: left; text-align: center; margin-left: auto; margin-right: auto; color: #7D7D7D;}
.centent-div{height: 210px;width: 1000px; float: left;}
.centent-each{height: 200px; width: 1000px; float: left; position: relative; top: 10px;}
.centent-each-left{height: 200px; width: 300px; float: left;}
.centent-each-pic{height: 180px; width: 287px; float: left; position: relative; top: 10px; left: 10px;}
.centent-each-right{height: 180px; width: 690px; float: left; position: relative; top: 10px; left: 10px;}
.centent-each-first{height: 25px; width: 600px; float: left;}
.centent-each-title{line-height: 20px; float: left;}
.centent-each-title a{font-size: 17px; text-align: left;}
.centent-each-title a:hover{color: red;}
.centent-each-auther{line-height: 15px; float: left; position: relative; left: 20px; top: 5px;}
.centent-each-auther a{font-size: 13px; text-align: left; color: #404040;}
.centent-each-auther a:hover{color: red;}
.centent-each-btn{height: 25px; width: 200px; float: left; position: relative; left: 40px;}
.centent-each-btn-good{height: 25px; width: 50px; float: left;}
.centent-each-btn-good-num{line-height: 25px; width: 20px; float: left; position: relative; left: 10px;}
.centent-each-btn-com{height: 25px; width: 50px; float: left;}
.centent-each-btn-icon{height: 25px; width: 25px; float: left;}
.centent-each-btn-num{line-height: 25px; width: 20px; float: left;}
.centent-each-btn-col{height: 25px; width: 30px; float: left;}
.centent-each-secend{width: 700px; float: left; text-align: left; position: relative; top: 10px; color: #7D7D7D;}
.centent-each-thrid{width: 600px; float: left; position: relative; top: 20px;}
.centent-each-thrid-each{width: 600px; float: left;}
.centent-each-thrid-each-p{line-height: 18px; float: left; font-size: 14px;}
.centent-each-thrid-each-div{line-height: 18px; width: 500px; float: left; text-align: left; font-size: 14px;}
.centent-each-fourth{float: left; position: relative; top: 30px;}
.centent-each-fourth-p{line-height: 18px; float: left; color: #7D7D7D;}

#detail-list{width: 1000px; margin-left: auto; margin-right: auto; position: relative; top: 30px;}
.detail-list-p{line-height: 20px; width: 90px; float: left; position: relative; top: 10px; left: 100px; background-color: #F2F2F2;}
.detail-list-p a{font-size: 18px; }
.detail-list-div{height: 215px; width: 998px; float: left; border: 2px solid #8CD2ED;}
.detail-list-content{width: 988px; float: left; position: relative; left: 5px; top: 15px;}
.detail-list-each{width: 328px; float: left;}
.detail-list-each-div{width: 310px; float: left; position: relative; left: 11px;}
.detail-list-each-pic{height: 157px; width: 250px;}
.detail-list-each-title{line-height: 20px; width: 310px; font-size: 15px;}
.detail-list-each-date{line-height: 20px; width: 310px; color: #7D7D7D;}

#topic{height: 100px;}
.topic_name{line-height: 28px; width: 400px; font-size: 28px; font-weight: bold; position: relative; top: 36px; left: 400px;}
.topic_time{line-height: 13px; width: 98px; font-size: 13px; position: relative; top: 25px; left: 820px;}

#comment{height: 240px;}
.pic{height: 240px; width: 420px; float: left;}
.pic_rel{height: 200px; width: 200px; float: right; position: relative; right: 20px; top: 20px; background: red;}

.introduce{height: 240px; width: 780px; float: left;}
.dish_detail{height: 70px; width: 740px;}
.dish_detail_name{line-height: 70px; width: 140px; float: left; text-align: left; font-size: 18px; color: #990000; font-weight: bold;}
.dish_detail_info{height: 30px; width: 600px; float: left; position: relative; top: 30px;}
.dish_detail_data{line-height: 15px; width: 90px; float: left; }
.dish_detail_writer{line-height: 15px; width: 90px; float: left;}
.dish_detail_good{height: 15px; width: 40px; float: left;}
.dish_detail_good_icon{height: 15px; width: 15px; float: right; background: red;}
.dish_detail_good_num{line-height: 15px; width: 10px; float: right;}
.dish_detail_com{height: 15px; width: 40px; float: left;}
.dish_detail_com_icon{height: 15px; width: 15px; float: right; background: yellow;}
.dish_detail_com_num{line-height: 15px; width: 10px; float: right;}
.dish_detail_col{height: 15px; width: 30px; float: left;}
.dish_detail_col_icon{height: 15px; width: 15px; float: right; background: blue;}

.dish_intro{height: 140px; width: 600px;}
.dish_intro_p{height: 120px; width: 600px; text-align: left; font-size: 14px; color: #990000;}